
@media (max-width: 480px) {
	.span3{
		width:350px;
		margin: 10px;
	}
}

@media(max-width:768px) {
  .btn-toggle-menu {
    display: inline;
    position: relative;
    top: 10px;
    left: 10px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #fff;
    color: #004E70;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.9);
    transition: transform .4s ease;
  }
  #about,
  .header {
    height: 100px;
  }
  .container-title .line{
  	display: none;
  }
  .about-media {
  	display: block !important; 
  }
  .container-title .title{
  	text-align: center;
  }
  .contact {
    height: auto;
  }
}

@media(max-height: 450px) {
  .footer{
    position: relative;
  }
}
